<footer class="footer-distributed">
<div class="footer-right">
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>

</div>
<div class="footer-left">
<p class="footer-links">
·
<a class="page-scroll" href="#portfolio">Contact Us</a>
·
<a class="page-scroll" href="#services">About Us</a>
·
</p>
<p> </p>
</div>
<table width="100%" cellspacing="10" cellpadding="10" border="0" align="center">
<tbody><tr> 
	<th style="width: 45%; align-content: left; vertical-align: top; padding-left: 200px; padding-bottom: 0px; padding-top: 25px; background-color: #183a65; font-family: Arial, sans-serif; font-size: 13px; color: #FFFFFF;">Thornton Property Management Company  l  (256) 582-6316<p></p>
		<p style="align-content: left; vertical-align: top; padding-left: 0px; padding-bottom: 0px; padding-top: 5px; background-color: #183a65; font-family: Arial, sans-serif; font-size: 10px; font-style: italic; color: #FFFFFF;">Thornton Properties Management Company is a sister company of Mountain Lakes Real Estate. <br>Mark Thornton and Lief Thornton share ownership in the companies.</br></p></th>
	 <th style="width: 15%; align-content: left; vertical-align: top; padding-left: 0px; padding-bottom: 0px; padding-top: 20px; background-color: #183a65; font-family: Arial, sans-serif; font-size: 12px; color: #FFFFFF;">Location Address:<p style="align-content: left; vertical-align: top; padding: 0px; background-color: #183a65; font-family: Arial, sans-serif; font-size: 9px; font-style: normal; color: #FFFFFF;">2312 Homer Clayton Drive<br>Guntersville, AL 35976</p></th>
	 <th style="width: 15%; align-content: left; vertical-align: top; padding-left: 0px; padding-bottom: 0px; padding-top: 20px; background-color: #183a65; font-family: Arial, sans-serif; font-size: 12px; color: #FFFFFF;">Mailing Address:<p style="align-content: left; vertical-align: middle; padding: 2px; background-color: #183a65; font-family: Arial, sans-serif; font-size: 9px; font-style: normal; color: #FFFFFF;">P.O. Box 631<br>Guntersville, AL 35976</p></th>
	<th style="width: 15%; align-content: left; vertical-align: top; padding-left: 0px; padding-bottom: 0px; padding-top: 25px; background-color: #183a65; color: #FFFFFF;"><img src="Images/facebook-icon.png" width="40" height="40" alt=""/><img src="Images/twitter-icon.png" width="40" height="40" alt=""/></tr>
	</th>
<tr colspan="100%" width="40%" cellspacing="0" cellpadding="0" border="0" align="center">
	<th style="width: 40%; align-content: left; vertical-align: top; padding-left: 200px; padding-bottom: 0px; padding-top: 2px; background-color:#ffffff; font-family:Arial, sans-serif; font-size:14px; color:#000000; font-style:normal; font-kerning:auto font-size: 9px; color: #183A65;">CONTACT US <a href="http://thorntonpmc.com/contact.html" target="_self"><img src="Images/email-icon.png" width="25" height="18" alt="Contact Thornton Properties"/></a> DIRECTIONS  <a href="https://www.google.com/maps/dir//Thornton+Properties,+LLC,+2312+Homer+Clayton+Dr,+Guntersville,+AL+35976/@34.338102,-86.3122705,15z/data=!4m15!1m6!3m5!1s0x0:0x8aedabbaaee7ae43!2sThornton+Properties,+LLC!8m2!3d34.338102!4d-86.3122705!4m7!1m0!1m5!1m1!1s0x8889f916a6e99845:0x8aedabbaaee7ae43!2m2!1d-86.3122705!2d34.338102" target="_blank"><img src="Images/directions-icon.png" width="25" height="31" alt="Direction to Thornton Properties"/></a></th>
  <th style="align-content:left; vertical-align:baseline; padding-left:0px; background-color:#ffffff; font-family:Arial, sans-serif; font-size:14px; color:#000000; font-style:normal;"></th> <th style="align-content:left; vertical-align:baseline; padding-left:0px; background-color:#ffffff; font-family:Arial, sans-serif; font-size:14px; color:#000000; font-style:normal;"></th><th style="align-content:left; vertical-align:baseline; padding-left:0px; background-color:#ffffff; font-family:Arial, sans-serif; font-size:14px; color:#000000; font-style:normal;"></th></tr>
     
<tr colspan="100%" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
    <th style="width: inherit; text-align: right; vertical-align: top; padding: 15px; background-color: #11639E; font-family: Arial, sans-serif; font-size: 9px; color: #FFFFFF;">
          </th>
	<th style="width: inherit; text-align: right; vertical-align: top; padding: 15px; background-color: #11639E; font-family: Arial, sans-serif; font-size: 9px; color: #FFFFFF;"></th><th style="width: inherit; text-align: right; vertical-align: top; padding: 15px; background-color: #11639E; font-family: Arial, sans-serif; font-size: 9px; color: #FFFFFF;"></th><th style="width: inherit; text-align: right; vertical-align: top; padding: 15px; background-color: #11639E; font-family: Arial, sans-serif; font-size: 9px; color: #FFFFFF;"><span style="text-align: right; vertical-align: top; padding: 5px; background-color: #11639E; font-family: Arial, sans-serif; font-size: 9px; color: #FFFFFF;"> Copyright © 2017  l  Web Design by <a href="mailto:messyjessydesign@gmail.com"> Jessica Arnold</a></span></th></tr>

</tbody>
	 </table>
</footer>


<footer class="footer-distributed">
	<ul class="nav justify-content-center">
   <div class="navbar-collapse collapse" id=".navbar-collapse">
            <ul class="nav navbar-nav">
                  <li>
                    <a href="http://thorntonpmc.com" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin</a>
                    <ul class="dropdown-menu" role="menu" id="myTab">
                        <li><%= link_to "Log in", new_user_session_path %></li>
      									<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
                    </ul>
                </li>
                 </ul>
            </ul>
  
</ul>
  

<ul class="nav justify-content-center">
  <p class="footer links">
      	<li><%= link_to "Admin Log in", new_user_session_path %></li>
      	<li><%= link_to "My Profile", pages_profile_path %></li>
      	<li><%= link_to "Edit Commercial Properties", pages_edit_commercial_path %></li>
      	<li><%= link_to "Edit Residential Properties", pages_edit_residential_path %></li>
      	<li><%= link_to "Edit Vacation Properties", pages_edit_vacation_path %></li>
 				<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
</p>
</ul>
</footer>